In [1]:
import diagonal_b6 as b6
import pandas as pd
from tqdm import tqdm

In [2]:
w = b6.connect_insecure("0.0.0.0:8002")

In [3]:
name = "diagonal.works/edinburgh/school-crossing-analyis"

In [4]:
schools = w( b6.find(b6.tagged("#amenity", "school")) )

# TODO: Could instead be this?!
# Or, find some common building for each school?

# If so, then we can at least find the entrance ll for the school; as long as it is an area not a point.
#
# TODO: Could be some good default to do here.
#
# TODO: Investigate 'accessible'

# schools = w( b6.find(b6.tagged("#building", "school")) )

In [5]:
# w( b6.find_feature(schools[0][0]).closest_distance({"mode": "walk"}, 1000.0, b6.keyed("crossing")) )

In [6]:
results = []

# For testing, EMAS is idx 13 presently.

#for school in schools[13:14]:
for school in tqdm(schools):
    feat = w( b6.find_feature( school[0]) )
    name = feat.get_string("name")

    # entrance_ll = w( b6.entrance_approach(b6.find_feature(school[0])) )
    # print(entrance_ll)

    # TODO: A lot of this should be able to be 1 call to `w`.
    crossing = w( b6.find_feature(school[0]).closest({"mode": "walk"}, 1000.0, b6.keyed("crossing")) )

    speed = "unknown"
    
    try:
        # TODO: Investigate error: "ValueError: Can't convert None to proto"
        # HACK: Find the road associated to this crossing. Ideally we could do osm-style "give me the thing that contains this".
        road = w( b6.find(b6.within_cap( b6.find_feature(crossing), 1.0))
                 .filter(lambda v: b6.matches(v, b6.keyed("maxspeed"))) )
    
        if len(road) == 1:
            # TODO: Why can't I use 'map' above to remove this?
            speed = w( b6.find_feature(road[0][0]).get_string("maxspeed"))
    except:
        #print("Error computing road speed")
        speed = "error"

    dist = w( b6.find_feature(school[0]).closest_distance({"mode": "walk"}, 1000.0, b6.keyed("crossing")) )

    kind = None

    if crossing:
        kind = crossing.get_string("crossing_ref")
    
    results.append( {"Name": name, "Distance": dist, "Crossing Kind": kind, "Road speed": speed } )

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 161/161 [02:20<00:00,  1.15it/s]

In [7]:
df = pd.DataFrame(results)
df

                                  Name    Distance Crossing Kind Road speed
0            Pirniehall Primary School  421.978393         zebra     20 mph
1    Fettes College Preparatory School  792.135062                   20 mph
2                             Haywired   88.213678                  unknown
3         St David's RC Primary School  422.093169         zebra     20 mph
4         Mannafields Christian School   86.026297                   20 mph
..                                 ...         ...           ...        ...
156        St John's RC Primary School  523.032997                   20 mph
157            Victoria Primary School  342.285750                   20 mph
158         Canaan Lane Primary School  106.601602         zebra     20 mph
159              Basil Paterson School   84.923360                  unknown
160                    ESMS - The Dean  491.978328       pelican     20 mph

[161 rows x 4 columns]

In [8]:
df[ df.Name.str.contains("Montessori") ]

                                Name    Distance Crossing Kind Road speed
13  Edinburgh Montessori Arts School  400.876883                   30 mph

In [9]:
df[ (df.Distance > 400) & (df["Road speed"] == "30 mph") ]

,Name,Distance,Crossing Kind,Road speed
11,St Andrew's Fox Covert RC Primary School,436.754047,,30 mph
13,Edinburgh Montessori Arts School,400.876883,,30 mph
18,Mannafields Christian School,545.269619,,30 mph
63,Parsons Green Primary School,537.267051,,30 mph
65,Merchiston Castle School,522.102014,toucan,30 mph
80,East Craigs Primary School,805.944761,,30 mph
120,Cargilfield School,789.703537,toucan,30 mph
125,Clovenstone Primary School,450.667158,zebra,30 mph
150,Granton Primary School,816.395780,,30 mph

In [10]:
df[ (df["Road speed"] == "30 mph") ].sort_values(["Distance"])

,Name,Distance,Crossing Kind,Road speed
115,,12.312495,puffin,30 mph
52,Gracemount High School,40.730622,puffin,30 mph
12,Howdenhall & St Katharine's Special School,107.145896,,30 mph
127,Kaimes School,109.587488,puffin,30 mph
60,Portobello High School,109.712427,,30 mph
152,Holy Cross RC Primary School,116.492478,,30 mph
8,Broomhouse Primary School,152.178987,puffin,30 mph
118,St John Vianney RC Primary School,167.460627,pelican,30 mph
57,Prestonfield Primary School,175.613231,,30 mph
31,Fettes College,178.566487,,30 mph
147,Newcraighall Primary School,243.252716,pelican,30 mph
34,Firrhill High School,251.940105,toucan,30 mph
108,Oaklands School,254.100047,pelican,30 mph
9,St Joseph's RC Primary School,275.034377,puffin,30 mph
154,St Catherine's RC Primary School,297.886651,,30 mph
155,Gracemount Primary School,313.531749,puffin,30 mph
111,Oxgangs Primary School,326.089434,puffin,30 mph
27,Liberton Primary School,344.230926,,30 mph
110,Braidburn School,369.425544,toucan,30 mph
129,Balerno Community High School,371.023675,,30 mph
121,Forthview Primary School,381.320115,,30 mph
64,Frogston Primary School,398.475513,pelican,30 mph
13,Edinburgh Montessori Arts School,400.876883,,30 mph
11,St Andrew's Fox Covert RC Primary School,436.754047,,30 mph
125,Clovenstone Primary School,450.667158,zebra,30 mph
65,Merchiston Castle School,522.102014,toucan,30 mph
63,Parsons Green Primary School,537.267051,,30 mph
18,Mannafields Christian School,545.269619,,30 mph
120,Cargilfield School,789.703537,toucan,30 mph
80,East Craigs Primary School,805.944761,,30 mph
150,Granton Primary School,816.395780,,30 mph